header{
    background-color:aquamarine;
    position:fixed;
    padding:1in;
    margin:.68in;
    color:blue;
}

body{
    width:100%;
    background-image: url("papyrus.png");
}

#container, .container{
    margin: 1.68in 2.23in;
    padding:1.68in 2.23in;
    color: blue;
    text-align:center;
    border: solid 2px aquamarine;
    border-radius: 4px;
}

.container{
    background-color: aquamarine;
}

#wrongLetter, #letterBox{
    display: inline-block;
    max-width: 2.23in;
    text-align: center;
}

